<a href="https://colab.research.google.com/github/wyjoe28/Hicks-MIS2800/blob/main/Hicks_HW4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install --upgrade pandas ipython-sql prettytable==3.10.1

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Collecting pandas
  Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.5/79.5 kB 2.5 MB/s eta 0:00:00
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Collecting prettytable==3.10.1
  Downloading prettytable-3.10.1-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable==3.10.1) (0.5.3)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading prettytable-3.10.1-py3-none-any.whl (28 kB)
Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (10.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 57.6 MB/s eta 0:00:00
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 46.5 MB/s eta 0:00:00
Installing collected packages: prettytable, jedi, pandas
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.17.0
    Uninstalling prettytable-3.17.0:
      Successfully uninstalled prettytable-3.17.0
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 3.0.0 which is incompatible.
gradio 5.50.0 requires pandas<3.0,>=1.0, but you have pandas 3.0.0 which is incompatible.
bqplot 0.12.45 requires pandas<3.0.0,>=1.0.0, but you have pandas 3.0.0 which is incompatible.
db-dtypes 1.5.0 requires pandas<3.0.0,>=1.5.3, but you have pandas 3.0.0 which is incompatible.
Successfully installed jedi-0.19.2 pandas-3.0.0 prettytable-3.10.1

In [6]:
!pip install ipython-sql
print("ipython sql installed")

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.10.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.5.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
ipython sql installed

In [7]:
%load_ext sql

In [8]:
import sqlite3
print("sqlite3 imported")

sqlite3 imported

In [9]:
conn = sqlite3.connect('AdCampaigns2026.db')
print("database created")

database created

In [10]:
%sql sqlite:///AdCampaigns2026.db

In [11]:
%%sql
CREATE TABLE Marketing_Brands (
  brand_id INTEGER PRIMARY KEY,
  brand_name TEXT,
  brand_type TEXT,
  brand_budget INTEGER
) STRICT;

 * sqlite:///AdCampaigns2026.db
Done.

[]

In [12]:
%%sql
INSERT INTO Marketing_Brands (brand_id, brand_name, brand_type, brand_budget)
VALUES
  (1, 'Doritos', 'Snacks', 7000000),
  (2, 'AWS', 'Technology', 15000000),
  (3, 'Pepsi', 'Beverages', 2000000),
  (4, 'He_Gets_Us', 'Religious', 1000000),
  (5, 'Dr_Pepper', 'Beverages', 500000),
  (6, 'IBM', 'Technology', 100000),
  (7, 'Google', 'Technology', 8000000);

 * sqlite:///AdCampaigns2026.db
7 rows affected.

[]

In [14]:
%%sql
-- Instructions: Fix the code to select all the columns from the Marketing_Brands table
SELECT * FROM Marketing_Brands;

 * sqlite:///AdCampaigns2026.db
Done.

[(1, 'Doritos', 'Snacks', 7000000),
 (2, 'AWS', 'Technology', 15000000),
 (3, 'Pepsi', 'Beverages', 2000000),
 (4, 'He_Gets_Us', 'Religious', 1000000),
 (5, 'Dr_Pepper', 'Beverages', 500000),
 (6, 'IBM', 'Technology', 100000),
 (7, 'Google', 'Technology', 8000000)]

In [15]:
# -- Instructions: Fix the code to display only the brand names and
# brand types that had budget over 700000
%%sql
SELECT brand_name, brand_type FROM Marketing_Brands WHERE brand_budget > 700000;

 * sqlite:///AdCampaigns2026.db
Done.

[('Doritos', 'Snacks'),
 ('AWS', 'Technology'),
 ('Pepsi', 'Beverages'),
 ('He_Gets_Us', 'Religious'),
 ('Google', 'Technology')]

In [16]:
%%sql
-- Instructions: Fix the code to find the brand types that are Religious
SELECT brand_type FROM Marketing_Brands WHERE brand_type = 'Religious';

 * sqlite:///AdCampaigns2026.db
Done.

[('Religious',)]

In [17]:
# -- Instructions: Fix the code to display the
# brand names that have a budget under 1000000
%%sql
SELECT brand_name FROM Marketing_Brands WHERE brand_budget < 1000000;

 * sqlite:///AdCampaigns2026.db
Done.

[('Dr_Pepper',), ('IBM',)]

In [18]:
# Instructins: Fix the code so that this will run SQLite3 in
# Colab without having to wrap in Python.  Hint: It's Magic!
%%sql
SELECT * FROM Marketing_Brands WHERE brand_budget > 7000000

 * sqlite:///AdCampaigns2026.db
Done.

[(2, 'AWS', 'Technology', 15000000), (7, 'Google', 'Technology', 8000000)]

In [20]:
%%sql
--Instructions: Find the brands where the brand type is
-- Snacks or Beverages.  Display only the brand names.
SELECT brand_name FROM Marketing_Brands WHERE brand_type = 'Snacks' OR brand_type = 'Beverages';

 * sqlite:///AdCampaigns2026.db
Done.

[('Doritos',), ('Pepsi',), ('Dr_Pepper',)]

In [21]:
%%sql
-- Instructions: Sort the table by brand budget in
-- DESC order. Display only the brand_name and brand_budget.
SELECT brand_name, brand_budget FROM Marketing_Brands ORDER BY brand_budget DESC;

 * sqlite:///AdCampaigns2026.db
Done.

[('AWS', 15000000),
 ('Google', 8000000),
 ('Doritos', 7000000),
 ('Pepsi', 2000000),
 ('He_Gets_Us', 1000000),
 ('Dr_Pepper', 500000),
 ('IBM', 100000)]

In [23]:
# Using SQLite3 (and all its magic) to create a
# table showing all the columns in ascending order by budget.
%%sql
SELECT * FROM Marketing_Brands ORDER BY brand_budget ASC;

 * sqlite:///AdCampaigns2026.db
Done.

[(6, 'IBM', 'Technology', 100000),
 (5, 'Dr_Pepper', 'Beverages', 500000),
 (4, 'He_Gets_Us', 'Religious', 1000000),
 (3, 'Pepsi', 'Beverages', 2000000),
 (1, 'Doritos', 'Snacks', 7000000),
 (7, 'Google', 'Technology', 8000000),
 (2, 'AWS', 'Technology', 15000000)]

1. I fixed the code by adding the TABLE keyword to the CREATE statement, changing CREATE Marketing_Brands to CREATE TABLE Marketing_Brands.
2. I fixed the code by adding the INTO keyword and specifying the table name Marketing_Brands to the INSERT statement, changing INSERT (brand_id, brand_name, brand_type, brand_budget) to INSERT INTO Marketing_Brands (brand_id, brand_name, brand_type, brand_budget).
3. I fixed the code by adding the * to the SELECT statement to select all columns, changing SELECT FROM Marketing_Brands; to SELECT * FROM Marketing_Brands;.
4.  I fixed the code by specifying the brand_name, brand_type columns to select and added the WHERE brand_budget > 700000 clause. I also changed the # comment to -- to ensure valid SQL syntax.
5. I fixed the code by specifying brand_type to select and added the WHERE brand_type = 'Religious' clause to filter the results.
6.  I fixed the code by specifying brand_name to select and added the WHERE brand_budget < 1000000 clause to filter the results.
7. I fixed the code by adding the %%sql magic command at the beginning of the cell. This allows for the direct execution of SQLite3 queries within Colab without needing to wrap them in Python code.
8.  I fixed the code by specifying brand_name to select and added the WHERE brand_type = 'Snacks' OR brand_type = 'Beverages' clause to filter the results. I also changed the # comment to -- for proper SQL commenting.
9. I fixed the code by specifying brand_name, brand_budget to select and added the ORDER BY brand_budget DESC clause to sort the results. I also changed the # comment to -- for proper SQL commenting.
10. I added the %%sql magic command and the full SQL query SELECT * FROM Marketing_Brands ORDER BY brand_budget ASC; to display all columns sorted by budget in ascending order.