<a href="https://colab.research.google.com/github/wyjoe28/Hicks-MIS2800/blob/main/Hicks_HW2_AFC_North_APPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('AFC_North_APPG.db')

In [5]:
conn.execute('''
CREATE TABLE Hicks_HW_AFC_North_APPG(
  team_name TEXT PRIMARY KEY NOT NULL,
  coach TEXT,
  ties INTEGER,
  wins INTEGER,
  losses INTEGER)
  STRICT;
  ''')

In [6]:
conn.execute('''
INSERT INTO Hicks_HW_AFC_North_APPG (team_name, coach, wins, losses, ties)
VALUES ('Steelers', 'Mike Tomlin', 10, 7, 0),
('Ravens', 'John Harbaugh', 8, 9, 0),
('Bengals', 'Zac Taylor', 6, 11, 0),
('Browns', 'Kevin Stefanski', 5, 12, 0);
''')

In [14]:
query = "SELECT team_name, coach, wins, losses, ties FROM Hicks_HW_AFC_North_APPG WHERE wins > 7"
results = conn.execute(query)
for row in results:
  print(row)

('Steelers', 'Mike Tomlin', 10, 7, 0)
('Ravens', 'John Harbaugh', 8, 9, 0)

In [15]:
query = "SELECT team_name, wins FROM Hicks_HW_AFC_North_APPG ORDER BY wins DESC"
for row in conn.execute(query):
  print(row)

('Steelers', 10)
('Ravens', 8)
('Bengals', 6)
('Browns', 5)